# .flake8 file for https://github.com/zxdavb

[flake8]
  # max-line-length as used by black
  max-line-length = 88
  ignore = D202,E203

  per-file-ignores =
    evohome/entity.py:D102,D107
    evohome/packet.py:D103
    evohome/parsers.py:D103
