#
### project ##########################################################################
# updated: 2023-11-11
#

[project]
  name = "ramses_rf"
  dynamic = ["readme", "version"]
  description = "A stateful RAMSES-II protocol decoder & analyser."
  authors = [{name = "David Bonnes", email = "zxdavb@bonnes.me"}]
  maintainers = [{name = "David Bonnes", email = "zxdavb@bonnes.me"}]
  dependencies = [
    "colorlog>=6.7.0",
    "pyserial-asyncio>=0.6",
    "voluptuous>=0.13.1",
  ]
  requires-python = ">=3.11"
  license = {file = "LICENSE"}

  keywords = [
    "evohome",
    "honeywell",
    "resideo",
    "round thermostat",
    "ramses",
    "sundial",
    "chronotherm",
    "hometronics",
    "itho",
    "nuaire",
    "orcon",
  ]
  classifiers = [
    "Topic :: Home Automation",
  ]

#
[project.urls]
  "Homepage" = "https://github.com/zxdavb/ramses_rf"
  "Bug Tracker" = "https://github.com/zxdavb/ramses_rf/issues"
  "Wiki" = "https://github.com/zxdavb/ramses_rf/wiki"

#
[project.scripts]
  client = "ramses_rf.client:main"

#
### build-system #####################################################################

[build-system]
  requires = ["hatchling"]
  build-backend = "hatchling.build"

[tool.hatch.build]
  sources = ["src"]
  artifacts = ["misc/ser2net.yaml",]

[tool.hatch.build.targets.wheel]
  packages = ["src/ramses_rf", "src/ramses_tx", "src/ramses_cli"]

[tool.hatch.version]
  path = "src/ramses_rf/version.py"


#
### pytest ###########################################################################

[tool.pytest.ini_options]
  asyncio_mode = "auto"


#
### mypy #############################################################################

[tool.mypy]
  # files = ["src/ramses_rf", "src/ramses_tx"]  # TODO: [src, tests]
  files = [
    "src/ramses_tx/__init__.py",
    "src/ramses_tx/address.py",
    "src/ramses_tx/const.py",
    "src/ramses_tx/exceptions.py",
    "src/ramses_tx/fingerprints.py",
    "src/ramses_tx/helpers.py",
    "src/ramses_tx/logger.py",
    "src/ramses_tx/opentherm.py",
    "src/ramses_tx/packet.py",
    "src/ramses_tx/ramses.py",
    "src/ramses_tx/version.py",
    # WIP...
    # "src/ramses_tx/command.py",
    # "src/ramses_tx/frame.py",
    # "src/ramses_tx/message.py",
    # "src/ramses_tx/protocol_fsm.py",
    # "src/ramses_tx/schemas.py",
    # "src/ramses_tx/transport.py",
  ]

  exclude = [
    "src/ramses_tx/protocol.py",
  ]


  follow_imports = "skip"  # TODO: don't use this feature
  no_implicit_optional = false  # TODO: don't use this feature

  # see: https://mypy.readthedocs.io/en/stable/existing_code.html#introduce-stricter-options

  # Start off with these
  warn_unused_configs = true
  warn_redundant_casts = true  # this is not per-module
  # warn_unused_ignores = true

  # # Getting these passing should be easy
  extra_checks = true  # was: strict_equality, strict_concatenate = true

  # # Strongly recommend enabling this one as soon as you can
  check_untyped_defs = true

  # # These shouldn't be too much additional work, but may be tricky to
  # # get passing if you use a lot of untyped libraries
  disallow_subclassing_any = true
  # disallow_untyped_decorators = true
  # disallow_any_generics = true

  # # These next few are various gradations of forcing use of type annotations
  # disallow_untyped_calls = true
  # disallow_incomplete_defs = true
  # disallow_untyped_defs = true

  # # This one isn't too hard to get passing, but return on investment is lower
  # # no_implicit_reexport = true

  # # This one can be tricky to get passing if you use a lot of untyped libraries
  # warn_return_any = true

  # # disallow_any_unimported = true
  # warn_no_return = true
  # warn_unreachable = true



[[tool.mypy.overrides]]
  module = "ramses_tx.helpers"
  warn_return_any = false

[[tool.mypy.overrides]]
  module = "ramses_tx.logger"
  disallow_incomplete_defs = false
  disallow_subclassing_any = false
  disallow_untyped_defs = false

[[tool.mypy.overrides]]
  module = "ramses_tx.packet"
  disallow_subclassing_any = false

[[tool.mypy.overrides]]
  module = "ramses_rf.*"
  ignore_missing_imports = true


#
## ruff ##############################################################################

[tool.ruff]
  exclude = ["tests/deprecated/*.py"]
  src = ["src", "tests"]
  target-version = "py311"  # Assume Python 3.11


[tool.ruff.lint]
  select = [
    "B",  # flake8-bugbear
    "E",  # pycodestyle
    "F",  # Pyflakes
    "I",  # isort
    # "SIM",  # flake8-simplify
    "UP",  # pyupgrade
  ]
  ignore = ["B010", "B011", "E501", "UP009"]
  # B010  - Do not call setattr with a constant attribute value
  # B011  - Do not call assert False since python -O removes these calls
  # E501  - Line too long
  # UP009 - UTF-8 encoding declaration is unnecessary


[tool.ruff.lint.isort]
  combine-as-imports = true  # default is false
