# last updated 2024-03-09
#  - to check against pyproject.toml, github workflows
#

# for development of the library, incl using the CLI
  -r requirements_cli.txt

# used for testing
  pytest>=8.1.1
  pytest-asyncio>=0.23.6
  pytest-xdist>=3.5.0

# used for linting
  pre-commit>=3.6.2
  ruff>=0.3.2

# used for typing
  mypy>=1.9.0
  types-colorama>=0.4.15
  types-paho-mqtt>=1.6.0.20240321
  types-PyYAML>=6.0.12.20240311
  voluptuous>=0.14.2

# used for build/deploy
  hatch>=1.9.4       # is not in core HA
  hatchling<=1.22    # is not in core HA
