# Requirements to dev/test the source code
# - last checked/updated: 2024-09-10
#

# for using the the library with CLI
  -r requirements.txt


# libraries required for development (lint/type/test)...
# - pip list | grep -E 'pre-commit|ruff|mypy|types-|voluptuous|pytest|hatch'

# used for development (linting)
  pre-commit >= 4.0.1
  ruff >= 0.8.1                                  # also: pre-commit-config.yaml

# used for development (typing)
  mypy >= 1.11.2
  types-colorama >= 0.4.15
  types-paho-mqtt >= 1.6.0
  types-PyYAML >= 6.0.12
  voluptuous >= 0.15.2

# used for testing
  pytest >= 8.3.3
  pytest-asyncio >= 0.24.0
# pytest-cov
  pytest-sugar >= 1.0.0
  pytest-xdist >= 3.6.1
# syrupy >= 4.6.1

# used for build/deploy
  hatch >= 1.12.0
  hatchling >= 1.25
