# Setup venv for ramses_rf CLI

# last checked/updated: 2024/05/02 (c.f. HA 2023.5.x)
#  - also update pyproject.toml, github workflows
#
#  check: pip list | grep -E 'click|colorama|debugpy'
#

# for using the library
  -r requirements.txt

# for using the the library via the CLI, client.py
  click>=8.1.7
  colorama>=0.4.6

# used for testing at runtime
  debugpy>=1.8.1
