# last updated 2024-03-09, based on HA 2024.3.x
#  - to check against pyproject.toml, github workflows
#

# for using the library (sans CLI) - required
  paho-mqtt>=1.6.1,<2.0.0       # breaking change in v2
  pyserial-asyncio>=0.6         # incl. pyserial==3.5
  voluptuous>=0.13.2            # 0.14.x has typing support

# for using the library (sans CLI) - optional
  colorlog>=6.8.2               # incl. colorama, if Windows
